[submodule "modules/ICMC-Processor-Simulator"]
	path = modules/ICMC-Processor-Simulator
	url = https://github.com/cirillom/ICMC-Processor-Simulator
[submodule "modules/ICMC-assembly-preprocessor"]
	path = modules/ICMC-assembly-preprocessor
	url = https://github.com/lucasgpulcinelli/ICMC-assembly-preprocessor
